<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}?t={{ 'now'|date('U') }}">
        <script type="text/javascript" src="{{ asset('js/jquery-3.7.0.js') }}"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
